@font-face {
  font-family: 'Arial MT - Bold';
  src: url('../fonts/Arial-BoldMT.otf');
  src: url('../fonts/Arial-BoldMT.otf?#iefix') format('opentype');
  font-weight: normal;
  font-style: normal;
}